<template>
	<div>
		<b-jumbotron class="box">
<p><strong>RoboRally</strong><br />
</p>
<h1 id="about-application">About Application</h1>
<p>RoboRally is computer game based on the table game called "Roborally".</p>
<h1 id="installation">Installation</h1>
<p>In current state the game is not working and only place from where you can download it is my github repository. https://github.com/Karg3ths/RoboRally</p>
<h1 id="javafx">JavaFX</h1>
<p>Independent library which can be downloaded on https://openjfx.io/. Follow the documentation to prepare your environment. (EclipseIDE,IntelliJ IDEA...).</p>
<h1 id="tiled">Tiled</h1>
<p>Tiled is useful application for creating Tile based Maps. It’s easy to use and to import new tilesets.</p>
<h1 id="game">Game</h1>
<h2 id="main-menu">Main Menu</h2>
<p>Simple Main Menu which can be easily extended. It contains exit button and New Game button. By clicking on New Game button the scenes will be switched and the map selection is shown.</p>
<h3 id="choosing-the-map">Choosing the map</h3>
<p>Page with Map selection show us all maps which are included in the game. By selecting one the game starts with selected map and few bots to compete with.</p>
<h2 id="a-algorithm">A* Algorithm</h2>
<p>A* computer algorithm, which is commonly used for pathfinding. A* is based on Djikstra algorithm,which loads point between point A and B. Difference is that A* ignores branches which are wrong from the beginning.</p>
<h2 id="map-and-movement">Map and movement</h2>
<p>The goal of the game is to reach the end in the smallest number of turn. Every turn player gets certain number of cards from which he crates his movement for the turn and his robot follows its template. Player should avoid crashing into the wall, because there is a danger that his robot will be destroyed which will lead in losing the game.</p>
<h1 id="further-development">Further Development</h1>
<ul>
<li><p>Finish the game - so it will finally work</p></li>
<li><p>Create working AI bots which will compete against the player</p></li>
<li><p>Working lasers and turning plates</p></li>
</ul>
<h1 id="sources">Sources</h1>
<h2 id="libraries">Libraries</h2>
<ul>
<li><p>https://openjfx.io/javadoc/12/</p></li>
<li><p>https://docs.oracle.com/javase/8/docs/api/index.html</p></li>
<li><p>https://doc.mapeditor.org/en/stable/</p></li>
</ul>
<h2 id="tileset">Tileset</h2>
<ul>
<li><p>https://opengameart.org/content/lpc-tile-atlas</p></li>
<li><p>https://0x72.itch.io/16x16-industrial-tileset</p></li>
</ul>
<h2 id="others">Others</h2>
<ul>
<li><p>https://stackoverflow.com</p></li>
<li><p>https://www.youtube.com/user/thenewboston</p></li>
<li><p>http://www.cokeandcode.com/main/tutorials/path-finding/</p></li>
<li><p>https://www.overleaf.com</p></li>
</ul>
		</b-jumbotron>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {			
			return {
				result: 42,
				usersResult: '',
				checked: '',
			}
		},
		methods: {	
			check() {		
				if (this.usersResult == this.result) {//checks if the user result (inserted to input) is right
					this.checked = 'right';
				} else {
					this.checked = 'wrong';
				}
			}	
		}
	}
</script>

<style scoped>
	#num {
		margin-bottom: 0px !important;
		font-size: 20px;
		font-family: monospace;
	}
	.multi {
		text-decoration: underline;
	}
	.inputWithBorderSmall {
		max-height: 24px;
		max-width: 12px !important;
		padding: 0 0 0 0;
		display: inline !important;
	}
	.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
		background-image: none !important;
		background: none !important;	
		padding: 0 0 0 0;	
	}
</style>