<template>
	<div>
		<b-jumbotron class="box">
			<h1>Home</h1>
			<div class="innerbody">
				<p>						
					Toto je stránka o mém maturitním projektu.<br>
					RoboRally je hra založená na své stejnojmenné předloze, která vyšla jako 
          desková hra.<br>
				</p>
				<h2>Důležité odkazy:</h2>
				<ul>
					<li><router-link to='/uzivatel' class='linkintext'>Uživatelská dokumentace</router-link></li>
					<li><router-link to='/vyvojar' class='linkintext'>Vývojářská dokumentace</router-link></li>
					<li><a href='https://gitlab.com/Karg3ths/aboutroborally' target='_blank' class='linkintext'>Repozitář na GitLabu</a></li>
					<li><a href='https://github.com/Karg3ths/RoboRally' target='_blank' class='linkintext'>Repozitář na GitHubu</a></li>
				</ul>
			</div>
		</b-jumbotron>
	</div>
</template>