<template>
	<div>
		<b-jumbotron class="box">
<h1 id="o-aplikaci">O aplikaci</h1>
<p>RoboRally je počítačová hra založená na deskové hře "RoboRally". Jejím cílem je přiblížit tuto deskovou hru lidem, které její původní vydání minulo. Cílem hry je dostat se z bodu A do bodu B za co nejmenší počet tahů.</p>
<h1 id="instalace">Instalace</h1>
<p>V současném stavu nelze Hru naistalovat. Hra není dokončená a proto se nachází v pouze na Githubu. https://github.com/Karg3ths/RoboRally</p>
<h1 id="javafx">JavaFX</h1>
<p>Samostatná knihovna pro Javu, která je vhodná pro vytváření "GUI"("Graphical User Interface" - Grafické uživatelské rozhraní -&gt; ) aplikací, které mohou být určeny jak pro počítače, tak i mobilní telefony. Aplikace je vytvářena a i následně kompilována ve vývojovém prostředí (EclipseIDE,IntelliJ IDEA...).</p>
<h1 id="tiled">Tiled</h1>
<p>Tiled je aplikace, ve které se dají vytvářet jednoduché i složitější "Tile based" mapy (Mapy které jsou tvořené z "dlaždic" tzn. čtverce či šesti-úhelniky). Mapy jsou uloženy v .tmx (xml)formátu. Výhodou je jednoduché prostředí, nebo například jednoduché importování Tilesetu (soubor obrázků, kde jednotlivé obrázky jsou použity jako "Tiles" a postupně tvoří celou mapu), ať už vlastních nebo stažených.</p>
<h1 id="hra">Hra</h1>
<h2 id="hlavní-stránka">Hlavní stránka</h2>
<p>Jednoduché hlavní menu, které je snadno rozšířitelné. Stránka obsahuje tlačitko pro vypnutí hry a tlačítko, které nás přesune na stránku s výběrem mapy na které budeme hrát.</p>
<h3 id="výběr-map">Výběr map</h3>
<p>Stránka s výběrem mapy ukazuje, jaké všechny mapy hra momentálně obsahuje. Po kliknutí na vybranou mapu se mapa načte a nahrají se počítačem řízení protivníci "boti".</p>
<h2 id="a-algoritmus">A* Algoritmus</h2>
<p>A* je počítačový algororitmus, který se využívá při hledání nejkratší cesty mezi dvěma body. A* je založen na Djikstrově algoritmu, který postupně načítá body mezi dvěma body. Narozdíl od Djikstrova algoritmu je rychlejší a předem "zahazuje" tzv.větve, které jsou od prvního pohledu k ničemu.</p>
<h2 id="mapa-a-pohyb">Mapa a pohyb</h2>
<p>Cílem hry je dostat se do cíle za co nejmenší počet kol. Každé kolo hráč dostane přidělený počet karet a z nich si sestaví svojí pohybovou sekvenci, podle které se jeho postavička pohybuje. Hráč se snaží vyhnout kontaktu se zdmi,protože každý kontakt znamená poškození pro postavičku. Pokud se hráč kontaktu nevyvaruje hrozí zničení postavičky a následná porážka.</p>
<h1 id="zdroje">Zdroje</h1>
<h2 id="knihovny">Knihovny</h2>
<ul>
<li><p>https://openjfx.io/javadoc/12/</p></li>
<li><p>https://docs.oracle.com/javase/8/docs/api/index.html</p></li>
<li><p>https://doc.mapeditor.org/en/stable/</p></li>
</ul>
<h2 id="tileset">Tileset</h2>
<ul>
<li><p>https://opengameart.org/content/lpc-tile-atlas</p></li>
<li><p>https://0x72.itch.io/16x16-industrial-tileset</p></li>
</ul>
<h2 id="jiné">Jiné</h2>
<ul>
<li><p>https://stackoverflow.com</p></li>
<li><p>https://www.youtube.com/user/thenewboston</p></li>
<li><p>http://www.cokeandcode.com/main/tutorials/path-finding/</p></li>
<li><p>https://www.overleaf.com</p></li>
</ul>

		</b-jumbotron>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {			
			return {
				result: 42,
				usersResult: '',
				checked: '',
			}
		},
		methods: {	
			check() {		
				if (this.usersResult == this.result) {//checks if the user result (inserted to input) is right
					this.checked = 'right';
				} else {
					this.checked = 'wrong';
				}
			}	
		}
	}
</script>

<style scoped>
	#num {
		margin-bottom: 0px !important;
		font-size: 20px;
		font-family: monospace;
	}
	.multi {
		text-decoration: underline;
	}
	.inputWithBorderSmall {
		max-height: 24px;
		max-width: 12px !important;
		padding: 0 0 0 0;
		display: inline !important;
	}
	.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid {
		background-image: none !important;
		background: none !important;	
		padding: 0 0 0 0;	
	}
</style>