<template>
  <div id="app">
    <b-navbar class='navigationbar'>
      <b-navbar-nav>
        <b-nav-item><router-link to='/' class='link'>Home</router-link></b-nav-item>
        <b-nav-item><router-link to='/uzivatel' class='link'>Uživatelská dokumentace</router-link></b-nav-item>
        <b-nav-item><router-link to='/vyvojar' class='link'>Vývojářská dokumentace</router-link></b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <router-view class='bodypart'></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

